
@{
    ViewBag.Title = "check";
}

<h2>Your Matched Results</h2>
<br />
<b>From:</b> @{
    @ViewBag.from
}
<br /><br />
<b>To:</b>
@{
    @ViewBag.to
}
<br /><br />
<b>Departure time:</b>@{
    @ViewBag.time
}
<br /><br />
<table class="table table-hover">
    <thread>
        <tr>
            <th>From Address           </th>
            <th>To Address</th>
            <th>Distance (miles)</th>
            <th>Departure Time</th>
            <th>Availabe seats</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var matchedTrip in ViewBag.list)
        {

            <tr>
                <td>@matchedTrip.fromAddress.StreetAddress</td>
                <td>@matchedTrip.toAddress.StreetAddress</td>
                <td>@matchedTrip.distanceToCreator</td>
                <td>@matchedTrip.departureTime</td>
                <td>@matchedTrip.TripInformation.Capacity</td>
                <td>@Html.ActionLink("Reserve", "SendRequest", "Match", new { id = @matchedTrip.TripInformation.TripInformationId }, new { @class = "btn btn-info" })</td>
            </tr>
        }
        </tbody>
</table>





